<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>episode-2-tile-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,76}}</string>
				<key>sourceSize</key>
				<string>{79,76}</string>
			</dict>
			<key>episode-2-tile-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,0},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,76}}</string>
				<key>sourceSize</key>
				<string>{79,76}</string>
			</dict>
			<key>episode-2-tile-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,78},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,76}}</string>
				<key>sourceSize</key>
				<string>{79,76}</string>
			</dict>
			<key>episode-2-tile-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,78},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,76}}</string>
				<key>sourceSize</key>
				<string>{79,76}</string>
			</dict>
			<key>episode-2-tile-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,0},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,76}}</string>
				<key>sourceSize</key>
				<string>{79,76}</string>
			</dict>
			<key>episode-2-tile-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,78},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,76}}</string>
				<key>sourceSize</key>
				<string>{79,76}</string>
			</dict>
			<key>episode-2-tile-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,156},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,76}}</string>
				<key>sourceSize</key>
				<string>{79,76}</string>
			</dict>
			<key>episode-2-tile-16.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,156},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,76}}</string>
				<key>sourceSize</key>
				<string>{79,76}</string>
			</dict>
			<key>episode-2-tile-17.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,156},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,76}}</string>
				<key>sourceSize</key>
				<string>{79,76}</string>
			</dict>
			<key>episode-2-tile-18.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,0},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,76}}</string>
				<key>sourceSize</key>
				<string>{79,76}</string>
			</dict>
			<key>episode-2-tile-19.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,78},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,76}}</string>
				<key>sourceSize</key>
				<string>{79,76}</string>
			</dict>
			<key>episode-2-tile-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,156},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,76}}</string>
				<key>sourceSize</key>
				<string>{79,76}</string>
			</dict>
			<key>episode-2-tile-20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,234},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,76}}</string>
				<key>sourceSize</key>
				<string>{79,76}</string>
			</dict>
			<key>episode-2-tile-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,234},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,76}}</string>
				<key>sourceSize</key>
				<string>{79,76}</string>
			</dict>
			<key>episode-2-tile-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,234},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,76}}</string>
				<key>sourceSize</key>
				<string>{79,76}</string>
			</dict>
			<key>episode-2-tile-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,234},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,76}}</string>
				<key>sourceSize</key>
				<string>{79,76}</string>
			</dict>
			<key>episode-2-tile-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,0},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,76}}</string>
				<key>sourceSize</key>
				<string>{79,76}</string>
			</dict>
			<key>episode-2-tile-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,78},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,76}}</string>
				<key>sourceSize</key>
				<string>{79,76}</string>
			</dict>
			<key>episode-2-tile-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,156},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,76}}</string>
				<key>sourceSize</key>
				<string>{79,76}</string>
			</dict>
			<key>episode-2-tile-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,234},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,76}}</string>
				<key>sourceSize</key>
				<string>{79,76}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{403,310}</string>
			<key>textureFileName</key>
			<string>episode-2-sprite.png</string>
		</dict>
	</dict>
</plist>
